## Step-1: Import Libraires

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

print('>>> Setup complete <<<')

>>> Setup complete <<<

## Step-2: Load the dataset

In [3]:
filepath = "Student_Performance.csv"
try:
    df = pd.read_csv(filepath)
except Exception as e:
    print("Error:", e)

df = pd.read_csv(filepath)
df.sample(5)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
9800,5,77,No,6,1,60.0
4191,3,80,Yes,8,0,62.0
4300,5,64,No,5,4,49.0
2286,9,93,Yes,9,6,97.0
8206,8,60,No,4,6,55.0

## Step-3: Explore and Understand Dataset

In [4]:
print(df.columns)
print(df.columns.tolist())
print("--------------------------")
nRow, nCol = df.shape
print(f"There are {nRow} rows and {nCol} columns")
print("Rows x Columns:", df.size)
print("--------------------------")
print("Info about dataset:")
df.info()

Index(['Hours Studied', 'Previous Scores', 'Extracurricular Activities',
       'Sleep Hours', 'Sample Question Papers Practiced', 'Performance Index'],
      dtype='object')
['Hours Studied', 'Previous Scores', 'Extracurricular Activities', 'Sleep Hours', 'Sample Question Papers Practiced', 'Performance Index']
--------------------------
There are 10000 rows and 6 columns
Rows x Columns: 60000
--------------------------
Info about dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Hours Studied                     10000 non-null  int64
 1   Previous Scores                   10000 non-null  int64
 2   Extracurricular Activities        10000 non-null  object
 3   Sleep Hours                       10000 non-null  int64
 4   Sample Question Papers Practiced  10000 non-null  int64
 5   Performance Index                 10000 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 468.9+ KB

In [5]:
# df.describe()
df.describe(include="all")

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000,10000.000000,10000.000000,10000.000000
unique,NaN,NaN,2,NaN,NaN,NaN
top,NaN,NaN,No,NaN,NaN,NaN
freq,NaN,NaN,5052,NaN,NaN,NaN
mean,4.992900,69.445700,NaN,6.530600,4.583300,55.224800
std,2.589309,17.343152,NaN,1.695863,2.867348,19.212558
min,1.000000,40.000000,NaN,4.000000,0.000000,10.000000
25%,3.000000,54.000000,NaN,5.000000,2.000000,40.000000
50%,5.000000,69.000000,NaN,7.000000,5.000000,55.000000
75%,7.000000,85.000000,NaN,8.000000,7.000000,71.000000
max,9.000000,99.000000,NaN,9.000000,9.000000,100.000000

In [6]:
for col in df.columns:
    if type(df[col][0]) is str:
        print(col,df[col].unique())

print(df['Extracurricular Activities'].unique())

Extracurricular Activities ['Yes' 'No']
['Yes' 'No']

## Step-4: Handle Missing Values (if any exist)

In [7]:
# To count NaN or missing values per column
missing_per_column = df.isna().sum()
print("\nMissing values per column:\n", missing_per_column)
# Count the number of NaN values in the entire DataFrame
missing_values = df.isna().sum().sum()
print("\nTotal number of missing values in the DataFrame:", missing_values)

Missing values per column:
 Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

Total number of missing values in the DataFrame: 0

## Step-5: Mapping

In [20]:
df['Extracurricular Activities'] = df['Extracurricular Activities'].str.strip().str.capitalize()
df['Extracurricular Activities'] = df['Extracurricular Activities'].map({"Yes": 1, "No": 0})
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0

## Step-6: Separate features (X) and target (y)

In [21]:
y = df['Performance Index'].values
X = df.drop('Performance Index', axis=1)
X.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5